{% extends "layout.main.html" %}

{% block content %}
<h1>CIDR overview</h1>

<form method="post" action="" class="form-horizontal">
    <fieldset>
        {% include "partial/_form_field.html" with field=form.cidr %}
        {% include "partial/_form_field.html" with field=form.label %}
        {% include "partial/_form_field.html" with field=form.require_credentials %}
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><span class="icon-ok icon-white"></span> Save</button>
        <a href="{% url permissions:cidr_index %}" class="btn">Cancel</a>
    </div>
    {% csrf_token %}
</form>
{% endblock %}
