{% extends "layout.main.html" %}

{% block content %}
<h1>Update credential comment</h1>

<form method="post" action="" class="form-horizontal">
    <p>Here you can add or update the comment for the credential {{ credential }}.</p>

    {% with field=form.comment %}

        <p><input type="text" class="input-xxlarge" maxlength="{{ field.field.max_length }}" value="{{ field.value }}" name="{{ field.html_name }}" id="id_{{ field.html_name }}"></p>

        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        {% endif %}

    {% endwith %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><span class="icon-ok icon-white"></span> Save</button>
        <a href="{% url 'permissions:credential_index' %}" class="btn">Cancel</a>
    </div>
    {% csrf_token %}
</form>
{% endblock %}

