{% extends "layout.main.html" %}

{% block content %}
<div class="hero-unit">
    <h1>Localshop</h1>
    <p>Welcome to your localshop!</p>
    <p><a href="{% url packages:index %}" class="btn btn-primary btn-large">See all packages &raquo;</a></p>
</div>


<h2>Recent local package releases</h2>
<table class="table table-striped">
    <tbody>
        {% for release in recent_local %}
        <tr>
            <td><a href="{{ release.package.get_absolute_url }}">{{ release.package.name }}</a></td>
            <td>{{ release.version }}</td>
            <td>{{ release.user }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Recently mirrored release files</h2>
<table class="table table-striped">
    <tbody>
        {% for release_file in recent_mirror %}
        <tr>
            <td><a href="{{ release_file.release.package.get_absolute_url }}">{{ release_file.release.package.name }}</a></td>
            <td>{{ release_file.filename }}</td>
            <td>{{ release_file.release.version }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
