{% extends "layout.main.html" %}

{% block content %}
<h1>Localshop</h1>


<h2>Recent local packages releases</h2>
<table>
    <tbody>
        {% for release in recent_local %}
        <tr>
            <td><a href="{{ release.package.get_absolute_url }}">{{ release.package.name }}</a></td>
            <td>{{ release.version }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Recently mirrored release files</h2>
<table>
    <tbody>
        {% for release_file in recent_mirror %}
        <tr>
            <td><a href="{{ release_file.release.package.get_absolute_url }}">{{ release_file.release.package.name }}</a></td>
            <td>{{ release_file.release.version }}</td>
            <td>{{ release_file.filename }}</td>
            <td>{{ release_file.distribution }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
