{% extends "layout.base.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{% url frontpage %}">localshop</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="{% url packages:index %}">Packages</a></li>
                </ul>
                <p class="navbar-text pull-right">Logged in as {{ user }} | <a href="{% url accounts:logout %}">logout</a></p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Local packages</li>
                    {% for pkg in sidebar.local %}
                    <li><a href="{{ pkg.get_absolute_url }}">{{ pkg }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div class="span9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

