{% extends "layout.base.html" %}

{% load i18n %}
{% load url from future %}

{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:index' %}">localshop</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'dashboard:repository_list' %}">Repositories</a></li>
                <li><a href="{% url 'accounts:team_list' %}">Teams</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'accounts:profile' %}">{% trans "Profile" %}</a></li>
                        <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                        {% if user.is_staff %}
                                <li class="divider"></li>
                                <li><a href="{% url 'admin:index' %}">{% trans "Django admin" %}</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

