{% extends "layout.main.html" %}
{% load i18n %}


{% block content %}
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'accounts:profile' %}">{% trans "Profile" %}</a></li>
            <li class="list-group-item"><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
            <li class="list-group-item"><a href="{% url 'accounts:access_key_list' %}">{% trans "Access keys" %}</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        {% block content_panel %}
        {% endblock %}
    </div>
</div>
{% endblock %}

