{% extends "layout.main.html" %}
{% load i18n %}


{% block content %}
<div class="row">
    <div class="offset2 span10 page-header">
        <h1>{% block title %}{{ view.repository.simple_index_url }}<small> ({{ view.repository.name }})</small>{% endblock %}</h1>
        <p>
            {% block description %}{{ view.repository.description }}{% endblock %}
        </p>
    </div>
</div>
<div class="row">
    <div class="span2">
        <ul class="nav nav-list">
            <li class="nav-header">Overview</li>
            <li><a href="{% url 'dashboard:repository_detail' slug=view.repository.slug %}">{% trans "Packages" %}</a></li>
            <li class="nav-header">Settings</li>
            <li><a href="{% url 'dashboard:repository_edit' slug=view.repository.slug %}">{% trans "Edit information" %}</a></li>
            <li><a href="{% url 'dashboard:repo_settings:cidr_index' repo=view.repository.slug %}">{% trans "Access control list" %}</a></li>
            <li><a href="{% url 'dashboard:repo_settings:credential_index' repo=view.repository.slug %}">{% trans "System credentials" %}</a></li>
            <li><a href="{% url 'dashboard:repo_settings:team_access' repo=view.repository.slug %}">{% trans "Team access" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'dashboard:repository_delete' slug=view.repository.slug %}">{% trans "Delete" %}</a></li>
        </ul>

    </div>
    <div class="span10">
        {% block content_panel %}
        {% endblock %}
    </div>
</div>
{% endblock %}


