{% extends "dashboard/repository_settings/base.html" %}
{% load i18n %}

{% block content_panel %}
<h1>Update credential comment</h1>

<form method="post" action="" class="form-horizontal">
    <p>Here you can add or update the comment for the credential {{ credential }}.</p>

    {% include "partial/_form_field.html" with field=form.comment %}
    {% include "partial/_form_field.html" with field=form.allow_upload %}
    {% include "partial/_form_field.html" with field=form.deactivated %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><span class="icon-ok icon-white"></span> Save</button>
        <a href="{% url 'dashboard:repo_settings:credential_index' repo=view.repository.slug %}" class="btn">Cancel</a>
    </div>
    {% csrf_token %}
</form>
{% endblock %}

