{% extends "layout.main.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="#">localshop</a> <span class="divider">/</span></li>
    <li><a href="{% url 'dashboard:repository_list' %}">{% trans "repository overview" %}</a> <span class="divider">/</span></li>
    <li><a href="{% url 'dashboard:repository_detail' slug=view.repository.slug %}">{{ view.repository.name }}</a> <span class="divider">/</span></li>
    <li><a href="{% url 'dashboard:repo_settings:index' repo=view.repository.slug %}">settings</a> <span class="divider">/</span></li>
    <li class="active">teams</li>
</ul>
{% endblock %}


{% block content %}
    <table>
    {% for team in view.repository.teams.all %}
    <tr>
        <td>
            {{ team }}
        </td>
        <td>
            <form method="post">
                <input type="hidden" name="team" value="{{ team.pk }}">
                <input type="hidden" name="delete" value="true">
                <input type="submit" value="X">
                {% csrf_token %}
            </form>
        </td>
    </tr>
    {% endfor %}
    </table>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit">
    </form>
{% endblock %}
