{% extends "layout.main.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="#">localshop</a> <span class="divider">/</span></li>
    <li class="active">{% trans "repository overview" %}</li>
</ul>
{% endblock %}


{% block content %}
<h1>Repositories</h1>

<a href="{% url 'dashboard:repository_create' %}">create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for repository in repositories %}
        <tr>
            <td><a href="{% url 'dashboard:repository_detail' slug=repository.slug %}">{{ repository.name }}</a></td>
            <td>{{ repository.description }}</td>
            <td>
                <a href="{% url 'dashboard:repo_settings:index' repo=repository.slug %}">settings</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}




