{% extends "layout.main.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="#">localshop</a> <span class="divider">/</span></li>
    <li><a href="{% url 'dashboard:repository_list' %}">{% trans "repository overview" %}</a> <span class="divider">/</span></li>
    <li class="active">{{ repository.name }}</li>
</ul>
{% endblock %}


{% block content %}
<h1>Repository: {{ repository.name }}</h1>
<p>
    URL: {{ simple_index_url }}
</p>

<a href="{% url 'dashboard:repo_settings:index' repo=repository.slug %}">settings</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for package in repository.packages.all %}
        <tr>
            <td><a href="{% url 'dashboard:package_detail' repo=repository.slug name=package.name %}">{{ package.name }}</a></td>
            <td>
                {% if package.is_local %}
                local package
                {% else %}
                pypi package
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
