{% extends 'layout.main.html' %}

{% load i18n %}
{% load url from future %}


{% block title %}{% trans "Change password" %}{% endblock %}


{% block content %}

<h1>Profile of {{ profile.user }}</h1>
<img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
<dl>
    {% if profile.user.get_full_name %}
        <dt>{% trans "Name" %}</dt>
        <dd>{{ profile.user.get_full_name }}</dd>
    {% endif %}
    {% if profile.user.email and not hide_email %}
        <dt>{% trans "Email" %}</dt>
        <dd>{{ profile.user.email }}</dd>
    {% endif %}
    {% if profile.age %}
        <dt>{% trans "Age" %}</dt>
        <dd>{{ profile.age }}</dd>
    {% endif %}
    {% if profile.website %}
        <dt>{% trans "Website" %}</dt>
        <dd>{{ profile.website|urlize }}</dd>
    {% endif %}
    {% if profile.location %}
        <dt>{% trans "Location" %}</dt>
        <dd>{{ profile.location }}</dd>
    {% endif %}
    {% if profile.about_me %}
        <dt>{% trans "About me" %}</dt>
        <dd>{{ profile.about_me }}</dd>
    {% endif %}
</dl>

{% endblock %}



