{% extends "layout.base.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Signin" %}</legend>
        {{ form.non_field_errors }}
    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Signin" %}" />
    </div>
</form>
{% endblock %}



{% block head %}
    {{ block.super }}
    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                    box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin > img {
            margin: 20px 0px;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post" class="form-signin">
        <h1>Localshop</h1>
        {% if form.errors or form.non_field_errors %}
        <div class="alert alert-error">
            {{ form.errors }}
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <input type="text" name="identification" class="input-block-level error" placeholder="{% trans "Username" %}" value="{{ form.identification.value|default:"" }}">

        <input type="password" name="password" class="input-block-level" placeholder="{% trans "Password" %}">
        <label class="checkbox">
            {{ form.remember_me }}
            {% trans "Remember me for a month" %}
        </label>

        <input type="submit" class="btn btn-primary" value="{% trans "Signin" %}" />
        <p class="forgot-password pull-right"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        {% csrf_token %}
    </form>
{% endblock %}
