{% extends "layout.base.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Signin" %}</legend>
        {{ form.non_field_errors }}
        {% for field in form %}
            {% include "partial/_form_field.html" with field=field %}
        {% endfor %}
    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Signin" %}" />
    </div>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
</form>
{% endblock %}

